Tee.FamilyApp/*/bin/*
Tee.FamilyApp/packages/*
Tee.FamilyApp/*/obj/Debug/*
Tee.FamilyApp/*/bin/Debug/*
Tee.FamilyApp/.vs/Tee.FamilyApp/v14/.suo
Tee.FamilyApp/*/bin/Debug/*
Tee.FamilyApp/packages/*
Tee.FamilyApp/.vs/*
